<div class="inbox-box editprofile-box">

  <div class="editprofile-title-box">Mon profil photo</div>
  <div class="editprofile-image-avatar-box">
    <img src="{{theUser.get('avatar')._url}}" />
    <!-- <img src="{{theUser.get('avatar')._url}}" /> -->
  </div>
  <div class="row">
    <div class="profile-box-button">CHARGER IMAGE</div>
    <div class="profile-box-button">DÉCOUPER IMAGE</div>
    <div class="profile-box-button">ROTATION GAUCHE</div>
    <div class="profile-box-button">ROTATION DROITE</div>
  </div>

</div>