.profile-box-book {
    background-color: #02E3FF;
    margin-top: 10px;
    color: white;
    width: 70%;
    margin-bottom: 20px;
    border: 0px;
    cursor: pointer;
    font-size: 12px;
}

.profile-box-favoris {
    background-color: white;
    border-color: #A19F9F;
    margin-top: 1px;
    width: 70%;
    cursor: pointer;
    border: solid 2px #A19F9F;
    font-size: 12px;
}

.profile-box-adresse {
    padding-bottom: 10px;
}

.profile-box-component-title {
    padding-top: 16px;
    padding-bottom: 4px;
}