<div class="row">
    <div class="col-md-4">
      <div class="btn-group pull-left">
        <button class="btn btn-default btn-outline btn-sm" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)"><i class="ti-arrow-left"></i></button>
        <button class="btn btn-default btn-outline btn-sm" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)"><i class="ti-arrow-right"></i></button>
        <button class="btn btn-primary btn-outline btn-sm m-l-5" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)"> Aujourd'hui </button>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle') : locale }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group pull-right">
        <button class="btn btn-primary btn-sm" (click)="viewChange.emit('month')" [class.active]="view === 'month'">Mois</button>
        <button class="btn btn-default btn-sm" (click)="viewChange.emit('week')" [class.active]="view === 'week'">Semaine</button>
        <button class="btn btn-primary btn-sm" (click)="viewChange.emit('day')" [class.active]="view === 'day'">Jour</button>
      </div>
    </div>
  </div>
  <br>
  