<div class="line-fullscreen brandreg-page">

  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">

        <div class="brandreg-nav padding">


          <img class=" brandreg-logo-fluid" src="assets/images/logo@2x.png" alt="Theme-Logo" width="235" />


        </div>


        <!-- Main-body start -->
        <div class="main-body">

          <div class="page-wrapper">

            <div class=" p-t-30 text-center">
              <div class="brandreg-title waiting-title  text-center d-flex justify-content-center">
                <h2>Votre profil est en attente de validation </h2>
              </div>

            </div>

            <div class="waiting-img">
              <img src="../../../../assets/images/waiting@2x.png" />
            </div>









          </div>
        </div>
      </div>
    </div>
  </div>
</div>