<div class="row">
  <div class="login-left-site col-lg-4">
    <div class="login-center-vertically">
      <h1 class="login-title padding text-center"> log in </h1>
      <div class="m-b-20 login-desc">Need a boostevent account?
        <a [routerLink]="['/auth/choicereg']"  class="login-link">
          Create an account
        </a>

      </div>

      <form #loginForm="ngForm" class="md-float-material" (ngSubmit)="login(loginForm.value)">
        <div>
          <label class="login-label">Username</label>
        </div>
        <div class="input-group">

          <input type="email" class=" form-control login-form-control" placeholder="Votre adresse mail" ngModel name="email">
          <span class="md-line"></span>
        </div>
        <div>
          <label class="login-label">Password</label>
        </div>
        <div class="input-group">

          <input type="password" class=" form-control login-form-control" placeholder="Password" ngModel name="password">
          <span class="md-line"></span>
        </div>
        <div class="checkbox-fade fade-in-primary d-">
          <label>
            <input type="checkbox" value="">
            <span class="cr">
              <i class="cr-icon fa fa-check txt-primary"></i>
            </span>
            <span class="text-inverse">Se souvenir de moi</span>
          </label>
        </div>
        <div class=" m-t-30 m-b-30">
          <button type="submit" class="btn btn-primary login-button">Se connecter</button>
        </div>

        <a [routerLink]="['/auth/choicereg']" class="f-w-600 login-link ">
          Inscription
        </a>
        <a [routerLink]="['/auth/forgot']" class="f-w-600 login-link float-right ">
          Forgot Password
        </a>
      </form>
    </div>
  </div>
  <div class="login-right-site col-lg-8">
    <img class="img img-responsive img-fluid" src="assets/images/ciseaux@2x.png">
    <div class="login-message padding">
      Say Hello to the best people
      <div class="login-message-desc">Welcome on board, discover how the platform works</div>
      <a href="#">
        <button type="button" class="btn btn-outline-secondary login-learn-more m-t-15">Learn more</button>
      </a>
    </div>
  </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>