<!-- <div class="line-fullscreen">


  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content"> -->
<!-- Main-body start -->
<!-- <div class="main-body">
          <div class="page-wrapper">

            profile works!
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->




<div *ngIf="loading" class="line-fullscreen">
  <div class="conversation-full">
    <img src="{{theUser.get('cover')._url}}" alt="">
    <div class="conversation-full-overlay">

    </div>
    <div class="profile-name-desc">Youssef DJ et Guitariste</div>


  </div>
  <div  class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
          <div class="page-wrapper">


            <div *ngIf="!isGuest" class="profile-not-guest-box-avatar active-scroll-wchange-color">
              <!-- <div class="profile-picture-screen"> -->
              <img src="{{theUser.get('avatar')._url}}" height="200" width="200" />
              <!-- <img src="{{conversation.TIuserB.avatar}}" height="98" width="98" /> -->
              <!-- </div> -->
            </div>
            <div class="row active-scroll-wchange-color">
              <div *ngIf="isGuest" class="col-xl-4 ">
                <div class="col-xl-10 col-box-boost ">
                  <div class="container">
                    <div class="row">
                      <div class="profile-header-container">
                        <div class="profile-header-img">
                          <img class="img-circle" src="{{theUser.get('avatar')._url}}" />
                          <!-- badge -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="profile-card-name  ">{{theUser.get('firstName')}} {{theUser.get('lastName')}} </div>
                  <div class="profile-card-name">
                    <span style="    color: #929dad; font-size: 0.8025em;">
                      (8 avis)
                    </span>
                    <a href="javascript:">
                      <i class="fa fa-star f-18 star-green "></i>
                    </a>
                    <a href="javascript:">
                      <i class="fa fa-star f-18 star-green"></i>
                    </a>
                    <a href="javascript:">
                      <i class="fa fa-star f-18 star-green"></i>
                    </a>
                    <a href="javascript:">
                      <i class="fa fa-star f-18 star-green"></i>
                    </a>
                    <a href="javascript:">
                      <i class="fa fa-star f-18 star-green"></i>
                    </a>
                  </div>
                  <div class="row profil-card-content " style="margin-right: 1%; margin-top:30px; ">
                    <div class="col-6" style="text-align:center;">
                      <!-- <i class="fa fa-home" width="30"></i> -->
                      <img src="assets/icon/home-solid-1.png" width="26" alt="" style="float:left;margin-bottom:2%;filter: invert(48%) sepia(13%) saturate(11265%) hue-rotate(240deg) brightness(66%) contrast(80%);"> Paris, France
                    </div>
                    <div class="col-6" style="text-align:center;">
                      <img src="assets/icon/id-card-alt-solid.png" width="26" alt="" style="float:left;margin-bottom:2%;filter: invert(48%) sepia(13%) saturate(11265%) hue-rotate(240deg) brightness(66%) contrast(80%);"> Dj et guitariste
                    </div>
                  </div>
                  <div class="row profil-card-content   " style="margin-right: 1%; margin-top:20px; ">
                    <div class="col-6" style="text-align:center;">
                      <!-- <i class="fa fa-home" width="30"></i> -->
                      <img src="assets/icon/map-marker-alt-solid.png" width="20" alt="" style="float:left;margin-bottom:2%;filter: invert(48%) sepia(13%) saturate(11265%) hue-rotate(240deg) brightness(66%) contrast(80%);">
                      <span>
                        Disponible que à Paris
                      </span>
                    </div>
                    <div class="col-6" style="text-align:center;">
                      <img src="assets/icon/euro-sign-solid.png" width="15" alt="" style="float:left;margin-bottom:2%;filter: invert(48%) sepia(13%) saturate(11265%) hue-rotate(240deg) brightness(66%) contrast(80%);"> 300-3000
                    </div>
                  </div>
                  <div class="row profil-card-content " style="margin-right: 1%; margin-top:30px; margin-bottom: 20px;">
                    <div class="col-6" style="text-align: center;">
                      <div class="conversation-box-book-body">
                        <div class="profile-card-reserver">Réserver</div>

                      </div>
                    </div>
                    <div class="col-6" style="text-align: center;">
                      <div class="conversation-box-book-body">
                        <div class="profile-card-decliner">+ favoris</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div *ngIf="ownProfile" class="Modify-profile-own-button col-10" [routerLink]="['/profile/edit']">Modifier mon profile</div>
                </div>

              </div>

              <div class="col-xl-8">
                <div class="row">
                  <div  *ngIf="isGuest" class="conversation-warning">Youssef est encore disponible pour cette date.
                    <span class="heavy">Réservez le dès maintenant!</span>
                  </div>
                  <nav style="    background-color: #fff;
          border-bottom: 2px solid rgba(0,0,0,0.15);
          border-radius: 2px;
          margin: 10px auto;
          position: relative;
          display: block;
          box-sizing: border-box;">
                    <div class="inbox-menu" style="   border-top: 0;
                   text-align: center;            box-sizing: border-box; display: block;">
                      <!-- text-align: center;   -->
                      <!-- inbox-menu -->
                      <!-- <div class="row" style="margin:10px auto; position: relative; border-radius: 2px;  border-bottom: 2px solid rgba(0,0,0,0.15); "> -->
                      <ul class=" col-8 tabs-list " role="tablist" style="    text-align: left;     list-style-type: none;
                margin: 0 0 1em 0;
                padding: 0;     box-sizing: border-box; margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 40px; display: block; "> </ul>
                      <li style="    display: inline-block;
              margin: 10px 30px 10px 0;
              vertical-align: middle; box-sizing: border-box; text-align: -webkit-match-parent;" role="tab" [ngClass]="{selected: actualRoute=='about' || actualRoute==''}"
                        [routerLink]="['/profile',idProfile,'about']">
                        À propos
                      </li>
                      <li [ngClass]="{selected: actualRoute=='references'}" style="    display: inline-block;
              margin: 10px 30px 10px 0;
              vertical-align: middle; box-sizing: border-box; text-align: -webkit-match-parent;" role="tab" [routerLink]="['/profile',idProfile,'references']">
                        Avis
                      </li>
                      <li style="    display: inline-block;
              margin: 10px 30px 10px 0;
              vertical-align: middle; box-sizing: border-box; text-align: -webkit-match-parent;" role="tab" [ngClass]="{selected: actualRoute=='photos'}"
                        [routerLink]="['/profile',idProfile,'photos']">
                        Photos et videos
                      </li>
                      <li  *ngIf="isGuest" style="    display: inline-block;
              margin: 10px 30px 10px 0;
              vertical-align: middle; box-sizing: border-box; text-align: -webkit-match-parent;" role="tab" [ngClass]="{selected: actualRoute=='availability'}"
                        [routerLink]="['/profile',idProfile,'availability']">
                        Disponibilité

                      </li>


                      <!-- </div> -->
                    </div>

                  </nav>

                </div>
                <div class="row">
                  <div *ngIf="actualRoute==='about' || actualRoute===''">
                    <div class="row">

                      <div class="col-11 col-box-boost  ">
                        <div class="profile-info" style="color: #444444;
                  padding: 15px; font-size:25px; ">
                          <div>
                            À propos de moi:
                          </div>

                          <div class=" profile-description " style="color: #444444;
                      padding: 15px; ">{{theUser.get('description')}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="actualRoute==='references' ">
                    <div class="col-11 col-box-boost  ">
                      <div class="profile-info" style="color: #444444;
                    padding: 15px; font-size:25px; ">
                        <!-- <div  class="inbox-box" > -->
                        <div class="row" style="position: relative; padding:5px;">
                          <div class="col-2">
                            <div class="inbox-box-avatar">
                              <img src="{{theUser.get('avatar')._url}}" height="98" width="98" />
                              <!-- <img src="{{conversation.TIuserB.avatar}}" height="98" width="98" /> -->
                            </div>
                          </div>

                          <div class=" col-3">
                            <div class="inbox-box-center">
                              <div class="profile-reference-writter">youssef Kriouile</div>
                              <div class="inbox-box-place profile-reference-writter" style="box-sizing: border-box; display: block;
                                     
                                      font-size: 0.8225em;
                                      position: relative; 
                                      word-wrap: break-word;">Paris, France</div>
                              <div class="profile-box-desc" style="    color: #929dad; font-size: 0.8125em;  ">
                                <a href="javascript:">
                                  <i class="fa fa-star f-18 star-green "></i>
                                </a>
                                <a href="javascript:">
                                  <i class="fa fa-star f-18 star-green"></i>
                                </a>
                                <a href="javascript:">
                                  <i class="fa fa-star f-18 star-green"></i>
                                </a>
                                <a href="javascript:">
                                  <i class="fa fa-star f-18 star-green"></i>
                                </a>
                                <a href="javascript:">
                                  <i class="fa fa-star f-18 star-green"></i>
                                </a>
                                (8 avis)</div>

                            </div>
                          </div>
                          <div class=" col-4">
                            <div class="inbox-box-center">
                              <!-- <div class="">Soirée Rooftop</div> -->
                            </div>
                          </div>
                          <div class="inbox-box-status col-2">
                            <div class="profile-reference-date" style="color: #929dad;">hier </div>

                          </div>

                          <div class="row " style="position:relative;">
                            <div class="profile-reference-confirmed">
                              <div class="inbox-box-status-title inbox-box-status-grey"> Événement confirmé et inviterait Youssef de nouveau </div>
                            </div>


                          </div>
                          <div class="row" style="position:relative;">
                            <div class="profile-reference-content">
                              <div class="profile-reference-writter">
                                Youssef est un super DJ et anime parfaitement la soirée, merci Youssef, c'était sympa de te voir et j'espére que tu réussira
                                dans ta platforme et que tu deviennes le future de l'événementiel
                              </div>
                            </div>


                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-11 col-box-boost  ">
                      <div class="profile-info" style="color: #444444;
                  padding: 15px; font-size:25px; ">
                        <!-- <div  class="inbox-box" > -->
                        <div class="row" style="position: relative; padding:5px;">
                          <div class="col-2">
                            <div class="inbox-box-avatar">
                              <img src="{{theUser.get('avatar')._url}}" height="98" width="98" />
                              <!-- <img src="{{conversation.TIuserB.avatar}}" height="98" width="98" /> -->
                            </div>
                          </div>

                          <div class=" col-3">
                            <div class="inbox-box-center">
                              <div class="profile-reference-writter">youssef Kriouile</div>
                              <div class="inbox-box-place profile-reference-writter" style="box-sizing: border-box; display: block;
                                   
                                    font-size: 0.8225em;
                                    position: relative; 
                                    word-wrap: break-word;">Paris, France</div>
                              <div class="profile-box-desc" style="    color: #929dad; font-size: 0.8125em;  ">
                                <a href="javascript:">
                                  <i class="fa fa-star f-18 star-green "></i>
                                </a>
                                <a href="javascript:">
                                  <i class="fa fa-star f-18 star-green"></i>
                                </a>
                                <a href="javascript:">
                                  <i class="fa fa-star f-18 star-green"></i>
                                </a>
                                <a href="javascript:">
                                  <i class="fa fa-star f-18 star-green"></i>
                                </a>
                                <a href="javascript:">
                                  <i class="fa fa-star f-18 star-green"></i>
                                </a>
                                (8 avis)</div>

                            </div>
                          </div>
                          <div class=" col-4">
                            <div class="inbox-box-center">
                              <!-- <div class="">Soirée Rooftop</div> -->
                            </div>
                          </div>
                          <div class="inbox-box-status col-2">
                            <div class="profile-reference-date" style="color: #929dad;">hier </div>

                          </div>

                          <div class="row " style="position:relative;">
                            <div class="profile-reference-confirmed">
                              <div class="inbox-box-status-title inbox-box-status-grey"> Événement confirmé et inviterait Youssef de nouveau </div>
                            </div>


                          </div>
                          <div class="row" style="position:relative;">
                            <div class="profile-reference-content">
                              <div class="profile-reference-writter">
                                Youssef est un super DJ et anime parfaitement la soirée, merci Youssef, c'était sympa de te voir et j'espére que tu réussira
                                dans ta platforme et que tu deviennes le future de l'événementiel
                              </div>
                            </div>


                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="col-11 col-box-boost  ">
                      <div class="profile-info" style="color: #444444;
                padding: 15px; font-size:25px; ">
                        <!-- <div  class="inbox-box" > -->
                        <div class="row" style="position: relative; padding:5px;">
                          <div class="col-2">
                            <div class="inbox-box-avatar">
                              <img src="{{theUser.get('avatar')._url}}" height="98" width="98" />
                              <!-- <img src="{{conversation.TIuserB.avatar}}" height="98" width="98" /> -->
                            </div>
                          </div>

                          <div class=" col-3">
                            <div class="inbox-box-center">
                              <div class="profile-reference-writter">youssef Kriouile</div>
                              <div class="inbox-box-place profile-reference-writter" style="box-sizing: border-box; display: block;
                                 
                                  font-size: 0.8225em;
                                  position: relative; 
                                  word-wrap: break-word;">Paris, France</div>
                              <div class="profile-box-desc" style="    color: #929dad; font-size: 0.8125em;  ">
                                <a href="javascript:">
                                  <i class="fa fa-star f-18 star-green "></i>
                                </a>
                                <a href="javascript:">
                                  <i class="fa fa-star f-18 star-green"></i>
                                </a>
                                <a href="javascript:">
                                  <i class="fa fa-star f-18 star-green"></i>
                                </a>
                                <a href="javascript:">
                                  <i class="fa fa-star f-18 star-green"></i>
                                </a>
                                <a href="javascript:">
                                  <i class="fa fa-star f-18 star-green"></i>
                                </a>
                                (8 avis)</div>

                            </div>
                          </div>
                          <div class=" col-4">
                            <div class="inbox-box-center">
                              <!-- <div class="">Soirée Rooftop</div> -->
                            </div>
                          </div>
                          <div class="inbox-box-status col-2">
                            <div class="profile-reference-date" style="color: #929dad;">hier </div>

                          </div>

                          <div class="row " style="position:relative;">
                            <div class="profile-reference-confirmed">
                              <div class="inbox-box-status-title inbox-box-status-grey"> Événement confirmé et inviterait Youssef de nouveau </div>
                            </div>


                          </div>
                          <div class="row" style="position:relative;">
                            <div class="profile-reference-content">
                              <div class="profile-reference-writter">
                                Youssef est un super DJ et anime parfaitement la soirée, merci Youssef, c'était sympa de te voir et j'espére que tu réussira
                                dans ta platforme et que tu deviennes le future de l'événementiel
                              </div>
                            </div>


                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-11 col-box-boost  ">
                      <div class="profile-info" style="color: #444444;
              padding: 15px; font-size:25px; ">
                        <!-- <div  class="inbox-box" > -->
                        <div class="row" style="position: relative; padding:5px;">
                          <div class="col-2">
                            <div class="inbox-box-avatar">
                              <img src="{{theUser.get('avatar')._url}}" height="98" width="98" />
                              <!-- <img src="{{conversation.TIuserB.avatar}}" height="98" width="98" /> -->
                            </div>
                          </div>

                          <div class=" col-3">
                            <div class="inbox-box-center">
                              <div class="profile-reference-writter">youssef Kriouile</div>
                              <div class="inbox-box-place profile-reference-writter" style="box-sizing: border-box; display: block;
                               
                                font-size: 0.8225em;
                                position: relative; 
                                word-wrap: break-word;">Paris, France</div>
                              <div class="profile-box-desc" style="    color: #929dad; font-size: 0.8125em;  ">
                                <a href="javascript:">
                                  <i class="fa fa-star f-18 star-green "></i>
                                </a>
                                <a href="javascript:">
                                  <i class="fa fa-star f-18 star-green"></i>
                                </a>
                                <a href="javascript:">
                                  <i class="fa fa-star f-18 star-green"></i>
                                </a>
                                <a href="javascript:">
                                  <i class="fa fa-star f-18 star-green"></i>
                                </a>
                                <a href="javascript:">
                                  <i class="fa fa-star f-18 star-green"></i>
                                </a>
                                (8 avis)</div>

                            </div>
                          </div>
                          <div class=" col-4">
                            <div class="inbox-box-center">
                              <!-- <div class="">Soirée Rooftop</div> -->
                            </div>
                          </div>
                          <div class="inbox-box-status col-2">
                            <div class="profile-reference-date" style="color: #929dad;">hier </div>

                          </div>

                          <div class="row " style="position:relative;">
                            <div class="profile-reference-confirmed">
                              <div class="inbox-box-status-title inbox-box-status-grey"> Événement confirmé et inviterait Youssef de nouveau </div>
                            </div>


                          </div>
                          <div class="row" style="position:relative;">
                            <div class="profile-reference-content">
                              <div class="profile-reference-writter">
                                Youssef est un super DJ et anime parfaitement la soirée, merci Youssef, c'était sympa de te voir et j'espére que tu réussira
                                dans ta platforme et que tu deviennes le future de l'événementiel
                              </div>
                            </div>


                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="actualRoute==='photos' ">
                    <div class="m-t-40">
                      <div style=" margin-left: 20%; margin-right: auto; width: 90%;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>



                </div>

              </div>
            </div>






            <!-- <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content"> -->
            <!-- Main-body start -->
            <!-- <div class="main-body">
          <div class="page-wrapper"> -->

            <!-- <div class="col-4 conversation-box-booking">
                <div *ngIf="isGuest" class="conversation-box-book">
                  <div class="conversation-box-book-header">
                    <div class="conversation-box-book-header-from">
                      à partir de
                    </div>
                    <div class="conversation-box-book-header-price">
                      3 000€
                    </div>
                  </div>
                  <div class="conversation-box-book-body">
                    <div class="conversation-box-book-button-ok">Réserver</div>
                    <div class="conversation-box-book-button-cancel">Décliner</div>
                  </div>
                </div>
              </div> -->


          </div>
        </div>
      </div>
    </div>
  </div>
</div>