/*.notif-style{
    overflow: scroll;
    max-height: 500px;
}*/

.show-notification li img {
    height: 40px;
    object-fit: cover;
}

.bg-c-pink {
    background: #FD3078;
    background: linear-gradient(-180deg, #F3177C, #D73F21);
    color: white;
    border: solid 2px white;
    height: 32px;
    width: 32px;
    padding-top: 15px;
    line-height: 0;
    padding-left: 10px;
    border-radius: 100px;
    font-size: 12px;
    right: 15px;
    position: absolute;
    top: 15px;
}

.badge {
    height: 32px;
    width: 32px;
    padding-top: 6px;
    border-radius: 100px;
    font-size: 12px;
}

.usernam-notif {
    font-family: "AvenirNext Heavy";
}

.notification-msg {
    font-family: "AvenirNext Demi";
}

.notif_title {
    font-size: 22px;
}

.badge:before {
    content: none;
}