<ul [@notificationBottom]="profileNotification" class="show-notification profile-notification">
  <li>
    <a href="javascript:">
      <i class="ti-settings"></i> Paramètres
    </a>
  </li>
  <li>
    <a [routerLink]="['/profile/']">
      <i class="ti-user"></i> Profil
    </a>
  </li>
  <li>
    <a [routerLink]="['/inbox/']">
      <i class="ti-email"></i> Mes messages
    </a>
  </li>
  <li>
    <a href="javascript:" (click)="logout()">
      <i class="ti-settings"></i> Se déconnecter
    </a>
  </li>

</ul>