.myalign {
    color: blue;
    font-size: 15px;

}

.myh2{
    padding-top: 1rem;
    padding-bottom: 5px;

}

.mycontainer{
font-size: 17px;

}

.myForm{
   padding-top: 2rem; 
   padding-left: 1rem;

}

.mybutton{
    vertical-align: text-bottom;
    background-color: blue;

}
