<div class="container container-fluid m-t-50 registration-type">
  <div class="text-center">

    <h1>Bienvenue sur boostevents!</h1>
    <!-- <h1>Je suis :</h1> -->


  </div>
</div>

<!--- Cards -->
<div class="container-fluid padding registration-type m-t-40">
  <div class="row  text-center padding d-flex justify-content-center">

    <div class=" col-sm-8 col-md-8 col-lg-6 col-xl-4 d-flex justify-content-center">

      <div class="card-registration fluid-container">
        <img class="card-img-top" src="../../../../assets/images/celebrities.png">
        <div class="card-body">
          <h5 class="card-title registration-choice-title">Je veux organiser un événement</h5>
          <p class="registration-choice-desc  "> Créer mon profil et réserver des prestataires pour mon évènement</p>
          <a [routerLink]="['/auth/profile/brand']" class="btn btn-primary-registration btn-sm " style="padding:20px;">Commencer</a>
        </div>
      </div>
    </div>
    <!-- ../../../../assets/images/brand.png
    ../../../../assets/images/celebrities.png -->
    <div class=" col-sm-8 col-md-8 col-lg-6 col-xl-4 d-flex justify-content-center">
      <div class="card-registration fluid-container ">
        <img class="card-img-top celebrity" src="../../../../assets/images/brand.png">
        <div class="card-body">
          <h5 class="card-title registration-choice-title">Je veux fournir une  <br/> prestation</h5>
          <p class="registration-choice-desc"> Créer mon profil et proposer mon talent pour booster des évènements</p>
          <a [routerLink]="['/auth/profile/presta']" class="btn btn-primary-registration btn-sm " style="padding:20px;">Commencer</a>
        </div>
      </div>
    </div>

  </div>

</div>