<div class="line-fullscreen">


  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
          <div class="page-wrapper">



            <div *ngIf="!isGuest"  class="line_warning">
              <div class="small-close">
                <img src="assets/images/small-close@2x.png" height="22" />
              </div>
              <div   class="row m-t-20">
                <div class=" warning-icon">
                  <img src="assets/images/stock-vector-vector-illustration-light-bulb-with-rays-shine-energy-and-idea-symbol-decoration-for-greeting@2x.png"
                    height="64" />
                </div>
                <div class="col-6 warning-text m-t-30 ">
                  <div class="warning-title">Félicitation…!</div>
                  <div class="warning-desc p-t-5">Votre compte est bien activé. Créez un évènement et invitez des talents!</div>
                </div>
                <div class="col-4">
                  <div class="warning-button" [routerLink]="[ '/quick-start/']">Commencer</div>
                </div>
              </div>

            </div>
            <div class=" m-t-0 "></div>
            <div class="row ">
              <div class="col-xl-3 ">
                <div class="col-xl-12 col-box-boost ">
                  <div [routerLink]="[ '/profile']"  class="profile-box-img ">
                    <img src="{{theUser.get( 'avatar')._url}} " />
                    <!-- <img src="{{theUser.get( 'avatar')}} " /> -->
                  </div>
                  <div class="profile-box-title " [routerLink]="[ '/profile']"  >{{theUser.get('firstName')}} {{theUser.get('lastName')}} </div>
                  <div class="profile-box-button " [routerLink]="[ '/profile/edit/general'] ">Modifier mon profil</div>
                </div>
                <div *ngIf="isGuest" class="col-xl-12 col-box-boost m-t-20 ">
                  <div class="dashboard-events ">
                    <div class="dashboard-title-event ">Call missing</div>
                    <div class="home-box-desc">No call missing</div>

                  </div>
                </div>
              </div>
              <div class="col-xl-9 ">
                <div *ngIf="isGuest" class="col-xl-12 m-b-20">
                  <div class="row">
                    <div class="col-3 p-l-0">
                      <div class="home-boxes-guest">
                        <div class="home-boxes-guest-center">
                          <img src="../../../assets/images/cb-icon@3x.png" width="60" />
                          <div class="home-boxes-guest-title m-t-20"> Add a card transfert</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-3 p-l-0">
                      <div class="home-boxes-guest">
                        <div class="home-boxes-guest-center">
                          <img src="../../../assets/images/money-icon@3x.png" width="60" />
                          <div class="home-boxes-guest-title m-t-20"> Receive money</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-3 p-l-0">
                      <div class="home-boxes-guest">
                        <div class="home-boxes-guest-center">
                          <img src="../../../assets/images/promotion-icon@3x.png" width="60" />
                          <div class="home-boxes-guest-title m-t-20"> Make promotion</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-3 p-l-0">
                      <div class="home-boxes-guest">
                        <div class="home-boxes-guest-center">
                          <img src="../../../assets/images/calendar-icon@3x.png" width="60" />
                          <div class="home-boxes-guest-title m-t-20"> My Calendar</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="isGuest" class="col-xl-12 col-box-boost m-b-20 ">
                  <div class="dashboard-events ">
                    <div class="dashboard-title-event ">Stats</div>
                    <div class="row">
                      <div class="col-3">
                        <div class="home-box-stat">
                          <div class="home-stats-title">0.00€</div>
                          <div class="home-stats-desc">Argent gagné</div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="home-box-stat">
                          <div class="home-stats-title">2</div>
                          <div class="home-stats-desc">Devis en attentes</div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="home-box-stat">
                          <div class="home-stats-title">1</div>
                          <div class="home-stats-desc">Evènement à venir</div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="home-box-stat">
                          <div class="home-stats-title">10</div>
                          <div class="home-stats-desc">Booking</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xl-12 col-box-boost ">
                  <div class="dashboard-events ">
                    <div class="dashboard-title-event ">Mes événements</div>

                    <div data-guys-beacon="section=artistfollow " id="/home/artistfollow " data-guys-frame="/home/artistfollow
                    " class="guys-frame-home-artistfollow guys-frame ">

                      <div class="carousel ">

                        <ul>





                          <app-event-box *ngFor="let event of events
                    " eventName={{event.name}} eventPlace={{event.place}} [routerLink]="[ '/inbox/',event.id] "></app-event-box>

                          <li class=" event-box-more artist-pane " [routerLink]="[ '/quick-start/'] ">
                            <div class="event-box-outer ">
                              <div class="event-more ">
                                <img src="assets/images/newEventButton@3x.png " height="26 ">
                              </div>
                              Créer un évènement
                            </div>

                          </li>





                        </ul>
                      </div>
                    </div>







                  </div>
                </div>
              </div>
            </div>


            <!--<div class="panel panel-warning m-t-30 " *ngFor="let event of events " [routerLink]="[
                    '/dashboard/event/edit/', event.id] ">
              <div class="row ">

                <div class="col-xd-7 col-md-8 p-r-0 ">
                  <div class="col-left ">
                    <img src="assets/icon/notif-icon@3x.png " height="25 " />
                  </div>
                  <div class="col-right ">
                    <p class="m-b-0 ">

                      <span *ngIf="event.guest=='' || event.guest==undefined; else elseBlock ">
                        <span class="add-guest " (click)="$event.stopPropagation();goToSearch(event.id) ">Ajouter un guest</span>
                      </span>
                      <ng-template #elseBlock>{{event.guest}}</ng-template>
                    </p>
                    <p class="m-t-10 m-b-0 ">{{event.name}}
                      <span class="f-right ">{{event.place}}</span>
                    </p>
                  </div>

                </div>
                <div class="col-xd-2 col-md-4 wo-margin status ">
                  <div class="detail-event ">
                    <div class="day ">{{event.theDate | toShortDate:'day'}}</div>

                    <div>{{event.theDate | toShortDate:'mm yy'}}</div>
                  </div>


                </div>
              </div>
            </div>-->


          </div>
        </div>
      </div>
    </div>
  </div>
</div>